parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: config/logsnag.php

		-
			message: '#^Static call to instance method PGT\\Logsnag\\Logsnag\:\:log\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: src/Logger/LogsnagLoggerHandler.php
